altair
pandas
streamlit
yfinance
matplotlib
mpld3
quantstats
plotly
datetime
requests
bs4
streamlit
selenium
undetected-chromedriver
seleniumbase
RUN apt-get install -y libglib2.0 libnss3 libgconf-2-4 libfontconfig1 chromium-driver
